{% load staticfiles %}
<!DOCTYPE HTML>
	<HEAD>
		<TITLE>Master</TITLE>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
		<link type = "text/css" href = "{% static "style.css" %}" rel = "stylesheet"/>
	</HEAD>
	<BODY>
	<div id = "header">
		<h1>Список добавленных комиксов</h1>
	</div>
	<div id = "master">
	<h2>Комиксы: <a href="{% url 'marvel' %}?page={{ pages.number }}">Marvel add</a>
		<a href = "{% url 'logout' %}">Logout</a></h2>
	<table>
		{% for comic in pages %}
			{% if forloop.first %}
				<p>Hello {{ comic.name }}!</p>
				<tr>
					<th>id</th>
					<th>Название</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			{% endif %}
			<tr>
				<td>{{ comic.id }}</td>	
				<td>{{ comic.product.name|truncatechars:30 }}</td>
				<td class = "centered"><a href="{% url 'edit' id=comic.product.id %}?page={{ pages.number }}">change</a></td>
				<td class = "centered"><a href="{% url 'delete' id=comic.id %}?page={{ pages.number }}">delete</a></td>
				<td class = "centered"><a href="{% url 'comic' id=comic.product.id %}?page={{ pages.number }}&comment=1">view</a></td>			
			</tr>
		{% empty %} Список комиксов пуст
		{% endfor %}
	</table>
	</div>
	<div id = "pagination">
			{% if pages.has_previous %} <!-- Если это не первая страница -->
			<div id = "previous-page">
				<a href="{% url 'master' %}?page={{ pages.previous_page_number }}">&lt;</a>
			</div>
			{% endif %}
			{% if pages.has_next %} <!-- Если это не последняя страница -->
				<div id="next-page">
					<a href="{% url 'master' %}?page={{ pages.next_page_number }}">&gt;</a>
				</div>
			{% endif %}
			<div id="num-pages">
				{% for pn in pages.paginator.page_range %}
					{% if not forloop.first %}
						&nbsp;&nbsp;|&nbsp;
					{% endif %}
					{% if pages.number != pn %}
						<a href="{% url 'master' %}?page={{ pn }}">
					{% endif %}
					{{ pn }}
					{% if pages.number != pn %}
						</a>
					{% endif %}
				{% endfor %}
			</div>
	</div>
	</BODY>
</HTML>