{% load staticfiles %}
<!DOCTYPE HTML>
	<HEAD>
		<TITLE>Master</TITLE>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
		<link type = "text/css" href = "{% static "mycss.css" %}" rel = "stylesheet"/>
	</HEAD>
	<BODY>
	<div id = "header">
		<h1>Список добавленных комиксов</h1>
	</div>
	<div id = "master">
	<h2>Комиксы: <a href="{% url 'marvel' %}?page={{ comics.number }}">Marvel add</a></h2>

	<p>Количество комиксов: {{ comics|length }}</p> <!-- Применяем фильтры -->
	<table>
		{% for comic in comics %}
			{% if forloop.first %}
				<tr>
					<th>Название</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			{% endif %}
			<tr>
				<td>{{ comic.name|truncatechars:30 }}</td>
				<td class = "centered"><a href="{% url 'edit' id=comic.id %}?page={{ comics.number }}">change</a></td>
				<td class = "centered"><a href="{% url 'comic' id=comic.id %}?page={{ comics.number }}&comment=1">view</a></td>					
			</tr>
		{% empty %} Список комиксов пуст
		{% endfor %}
	</table>
	</div>
	<div id = "pagination">
			{% if comics.has_previous %} <!-- Если это не первая страница -->
			<div id = "previous-page">
				<a href="{% url 'master' %}?page={{ comics.previous_page_number }}">&lt;</a>
			</div>
			{% endif %}
			{% if comics.has_next %} <!-- Если это не последняя страница -->
				<div id="next-page">
					<a href="{% url 'master' %}?page={{ comics.next_page_number }}">&gt;</a>
				</div>
			{% endif %}
			<div id="num-pages">
				{% for pn in comics.paginator.page_range %}
					{% if not forloop.first %}
						&nbsp;&nbsp;|&nbsp;
					{% endif %}
					{% if comics.number != pn %}
						<a href="{% url 'master' %}?page={{ pn }}">
					{% endif %}
					{{ pn }}
					{% if comics.number != pn %}
						</a>
					{% endif %}
				{% endfor %}
			</div>
	</div>
	</BODY>
</HTML>