{% load staticfiles %}
<!DOCTYPE HTML>
	<HEAD>
		<TITLE>All</TITLE>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
		<link type = "text/css" href = "{% static "style.css" %}" rel = "stylesheet"/>
	</HEAD>
	<BODY>
	<div id = "header">
		<h1>Список комиксов</h1>
	</div>
	<div id = "main">
	<h2>Комиксы: <a href="{% url 'marvel' %}?page={{ page_obj.number }}">Marvel Add</a></h2>
	<p>Количество комиксов: {{ comics|length }}</p> <!-- Применяем фильтры -->
	<table>
		{% for comic in object_list %} <!-- Работаем с классом-контроллером ListView -->
			{% if forloop.first %}
				<tr>
					<th>Название</th>
					<th>Дата выхода</th>
					<th>EAN</th>
					<th>Варианты выхода</th>
					<th>обложка</th>
					<th>В наличии</th>
				</tr>
			{% endif %}
			<tr>
				<td><a href="{% url 'comic' id=comic.id %}?page={{ page_obj.number }}&comment=2">{{ comic.name|truncatechars:30 }}</a></td>
				<td class = "centered">{{ comic.release_date }}</td>
				<td class = "centered">{{ comic.ean }}</td>
				<td class = "centered">{{ comic.type }}</td>
				<td><img src = "{{ comic.image_name }}"  alt = "Not found" width = 30 height = 46 /></td>
				<td class = "centered">{% if comic.in_stock == True %} + {%endif%}</td>
			</tr>
		{% empty %} Список комиксов пуст
		{% endfor %}
	</table>
	</div>
	<div id = "pagination">
	{% if paginator.num_pages > 1 %}
			{% if page_obj.has_previous %} <!-- Если это не первая страница --> <!-- Также применяем page_obj из ListView -->
			<div id = "previous-page">
				<a href="{% url 'all' %}?page={{ page_obj.previous_page_number }}">&lt;</a><!-- ссылка на предыдущую страницу -->
			</div>
			{% endif %}
			{% if page_obj.has_next %} <!-- Если это не последняя страница -->
				<div id="next-page">
					<a href="{% url 'all' %}?page={{ page_obj.next_page_number }}">&gt;</a><!-- ссылка на следующую страницу -->
				</div>
			{% endif %}
			<div id="num-pages">
				{% for pn in paginator.page_range %} <!-- список содержащий номера страниц -->
					{% if not forloop.first %}
						&nbsp;&nbsp;|&nbsp;
					{% endif %}
					{% if page_obj.number != pn %} <!-- number номер текущей страницы -->
						<a href="{% url 'all' %}?page={{ pn }}">
					{% endif %}
					{{ pn }}
					{% if page_obj.number != pn %}
						</a>
					{% endif %}
				{% endfor %}
			</div>
	{% endif %}
	</div>
	</BODY>
</HTML>