{% load staticfiles %}
<!DOCTYPE HTML>
	<HEAD>
		<TITLE>Delete</TITLE>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
		<link type = "text/css" href = "{% static "style.css" %}" rel = "stylesheet"/>
	</HEAD>
	<BODY>
		<div id = "delete">
		<li>Product: {{ current_comic.product.name|truncatechars:30 }}</li>
		<form action="" method="post">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Delete">
		</form>
		<a href="{% url 'master' %}?page={{ pn }}">Cancel to master</a>
		</div>
	</BODY>
</HTML>